$mdc-theme-primary: #e2710d;
$mdc-theme-secondary: #137fd8;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-on-secondary: #ffffff;

@import "@material/button/mdc-button";
@import "@material/fab/mdc-fab";
@import "@material/textfield/mdc-text-field";
@import "@material/list/mdc-list";
@import "@material/chips/mdc-chips";

@import "../lib/fontawesome-free-5.7.2-web/scss/fontawesome.scss";
@import "../lib/fontawesome-free-5.7.2-web/scss/solid.scss";

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#step-2 {
  display: none;
}

#fab-search {
  display: none;
}

#show-more-box {
  text-align: center;
  color: $mdc-theme-secondary;
  cursor: pointer;
  padding-bottom: 1rem;
}

#search-result {
  cursor: pointer;
}

#box-black {
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0, 0.5);
}

#search-box {
  overflow: scroll;
  overflow-x: hidden;
  z-index: 10000;
  box-sizing: border-box;
  padding: .5rem;
  display: block;
  background-color: white;
  position: fixed;
  bottom: 0;
  height: auto;
  width: 100vw;

  #close-box {
    text-align: right;
    font-size: .8rem;
  }

  #saya-ingin-box {
    text-align: center;
    font-size: 110%;
  }

  .fas {
    padding-right: 5px;
  }

  #search-text {
    width: 100%;
  }
}

#search-box.tall {
  height: 100vh;
  padding-top: 2.5rem;
}

@media(min-width: 500px) {
  #search-box {
    right: 5vh;
    width: 30vw;
    bottom: 5vh;
  }

  #search-box.tall {
    height: 65vh;
    padding-top: .5rem;
  }
}

/* belum terpakai */

.app-fab--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media(min-width: 1024px) {
  .app-fab--absolute {
    bottom: 1.5rem;
    right: 1.5rem;
    /*@include mdc-fab-accessible(black);*/
  }
}